* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    height: 100dvh;
}

#hooray-form {
    background-color: rgb(186, 238, 161);
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

#hooray-form-title {
    text-align: center;
    margin: 0 auto 8px;
    font-size: 42px;
}

#hooray-form-label {
    display: inline-block;
    max-width: 280px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto 16px;
}

#hooray-form-input {
    border-radius: 8px;
    border: 1px solid black;
    font-size: 16px;
    padding: 4px;
}

#hooray-form-input-wrapper {
    margin: 0 auto;
}

#hooray-form-submit {
    background: black;
    border-radius: 8px;
    border: 1px solid black;
    color: rgb(250, 249, 240);
    cursor: pointer;
    font-size: 16px;
    padding: 4px 8px;
}

#hooray-form-submit:active {
    padding: 3px 7px;
    margin: 1px;
}